{% extends "base.html" %}
{% load static %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <div class="container d-flex flex-column align-items-center">
        <div class="col-lg-6 mx-auto mb-5 d-flex flex-column align-items-center">
            <h2>Pythonista</h2>
            <p class="lead mb-4">Some description</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-purple btn-lg px-4 gap-3">Python cơ bản</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
            </div>
        </div>
        <div class="input-group mb-2">
            <input type="search" class="form-control rounded"
                   placeholder="Tìm hướng dẫn, khóa học, videos, trắc nghiệm,..." aria-label="Search"
                   aria-describedby="search-addon"/>
            <button type="button" class="btn btn-purple">Tìm kiếm</button>
        </div>
        <div id="postDiv" class="row justify-content-center align-items-center">
        </div>
        <div class="row justify-content-center align-items-center">
            <button id="loadMore" type="button" class="btn btn-purple btn-sm px-4 gap-3" onclick="loadMore()">Xem thêm</button>
        </div>
    </div>

    <script src="{% static 'js/home/loadPosts.js' %}"></script>
{% endblock content %}