{% extends "base.html" %}


{% block title %}{{ keyword }}{% endblock title %}
{% block content %}

    <div class="container d-flex flex-column align-items-center">
        <div class="input-group mb-2">
            <input id="searchBar" type="search" class="form-control rounded"
                   value="{{ keyword }}" aria-label="Search"
                   aria-describedby="search-addon"/>

            <button id="searchButton" onclick="searchOnclick()" type="button" class="btn btn-purple">Tìm kiếm</button>
        </div>
        <div class="row justify-content-center align-items-center">
            {% for post in posts %}
                <div class="col-md-5 mx-2 my-2">
                    <a href="{{ post.get_absolute_url }}">
                        <div class="card">
                            <img class="card-img-top img-fluid w-100" src="{{ post.image.url }}" alt="{{ post.title }}">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ post.title }}
                                </h5>
                                <p class="card-text">
                                    {{ post.description|truncatechars:50 }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}